/* Master styles*/
body{
    margin: 2px;
}
.container {
    display: grid;
    grid-template-columns: 0.99fr;
}

/*Nav-styles*/
.TOP{
         display: flex; 
         justify-content: space-between;
         padding: 25px;

}

.left{
    display: flex;
    
}

.TOP > .left >  div {
    margin-right: 20px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.link{
    height : 25px;
    border-bottom: 2px red;
    transition: border-bottom 0.75s;
}

.link a{
 color: rosybrown;
 text-decoration:  none;
 transition: color 0.75s;
}

.link:hover{
    border-bottom: 1px solid silver;

}

.link-wrapper{
    color: silver;
}

.images {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lavender;
    
}
.about-content{
display: grid;
grid-template-columns: 1fr 1fr;
margin-right: 10px;

}

.text h1{
    color: crimson;
    text-shadow: cadetblue;
}

.text p{
    font-weight: 200;
    font-size: x-large;
    padding: 10px;
    color: black;
    background-color: lavender;
}